body{
    background-image: url('pixabay-notes-3819574-950x375-1.jpg');
}

.container{
    background-image: url('depositphotos_48134921-stock-photo-books-and-a-coffee-cup.jpg');

}
.container-fluid{
    background-image: url('pixabay-notes-3819574-950x375-1.jpg');

}